body{
    background-color: #FAF2E9;
    } 
    
.btn-menu {
    color: #ffa45d;
    background-color: #FAF2E9;
    border-color: #FAF2E9;
    height: 40px;
    width: 40px;
}

.rectangle {
    position: absolute;
    width: 366px;
    height: 30px;
    left: 24px;
    top: 94px;
    background: #D6F3C6;
    border-radius: 20px;
}

h5 {
    position: absolute;
    width: 165px;
    height: 27px;
    left: 119px;
    top: 149px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #000000;
  }

.drag-drop-area {
    position: absolute;
    width: 366px;
    height: 190px;
    left: 25px;
    top: 223px;
    background-color: #f2f2f2;
    border: 2px dashed #cccccc;
    border-radius: 10px;
}

.barrascroll {
    position: absolute;
    width: 6px;
    height: 416px;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    background: #D9D9D9;
    border-radius: 86.0696px;
}

#input-nome {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    position: absolute;
    width: 366px;
    height: 59px;
    left: 25px;
    top: 456px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#input-data {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    position: absolute;
    width: 366px;
    height: 59px;
    left: 25px;
    top: 541px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#input-local {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    position: absolute;
    width: 366px;
    height: 59px;
    left: 25px;
    top: 626px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#ellipse46 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 150px;
    top: 735px;
    border-radius: 9px;
    background: #44CD8B;
  }
  #ellipse51{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 200px;
    top: 735px;
    border-radius: 9px;
    background: #D6F3C6;
  }
  #ellipse47 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 250px;
    top: 735px;
    border-radius: 9px;
    background: #D6F3C6;
  }