.container {
	background-color: #FAF2E9;
	width: 100%;
	min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

main {
	width: 80%;
	min-width: 400px;
	max-width: 1400px;
	height: 90vh;
	margin: 0 auto;
	border-radius: 20px;
	display: grid;
	grid-template-columns: 4fr 500px;
	background: var(--color-white);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2), -3px -4px 20px rgba(255, 255, 255, 0.05);
}

img {
	width: 100%;
	height: 90vh;
	border-radius: 20px 0 0 20px;
	background-image: url(/assets/capa.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-clip: content-box;
    object-fit: cover;
}

#teladireita {
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    gap: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.senha-acoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#esquecisenha {
	color: #FFA45D;
}

a {
	color: #FFA45D;
}