body{
    background-color: #FAF2E9;
    } 
    
.btn-menu {
    color: #ffa45d;
    background-color: #FAF2E9;
    border-color: #FAF2E9;
    height: 40px;
    width: 40px;
}

.rectangle {
    position: absolute;
    width: 366px;
    height: 30px;
    left: 24px;
    top: 94px;
    background: #D6F3C6;
    border-radius: 20px;
}

.concluido {
    position: absolute;
    width: 224px;
    height: 30px;
    left: 24px;
    top: 94px;
    background: #44CD8B;
    border-radius: 20px;
}

h5 {
    position: absolute;
    width: 179px;
    height: 34px;
    left: 24px;
    top: 200px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .input-infos{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    border-radius: 4px;
    margin-top: 250px;
  }
  .input-observacoes{
    box-sizing: border-box;
    padding: 16px;
    position: absolute;
    width: 366px;
    height: 422px;
    left: 24px;
    top: 246px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  #ellipse46 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 150px;
    top: 735px;
    border-radius: 9px;
    background: #D6F3C6;
  }
  #ellipse51{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 200px;
    top: 735px;
    border-radius: 9px;
    background: #D6F3C6;
  }
  #ellipse47 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 250px;
    top: 735px;
    border-radius: 9px;
    background: #44CD8B;
  }