body{
    background-color: #FAF2E9;
  } 
    
  .btn-menu {
    color: #ffa45d;
    background-color: #FAF2E9;
    border-color: #FAF2E9;
    height: 40px;
    width: 40px;
  }
  
  h5 {
    position: absolute;
    width: 68px;
    height: 27px;
    left: 24px;
    top: 80px;
    font-family:'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #000000;
  }
    
  .carousel-item img {
    max-width: 100%;
    display: block;
    margin: 20% auto 0;
    width: 366px;
    height: 175px;
    border-radius: 10px;
  }
  
  .botao-cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    position: absolute;
    width: 366px;
    height: 56px;
    left: 24px;
    top: 310px;
    background: #FFA45D;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px;
    border-radius: 4px;
    padding: 0px;
    gap: 24px;
    width: 366px;
    height: 126px;
    margin-top:100px;
  }
  
  .quads12 {
    display: flex;
  }
  .square1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px;
    border-radius: 4px;
    padding: 0px;
    gap: 24px;
    width: 170px;
    height: 126px;
    margin-top: 15px;
  }
  #quad1 {
    margin-left: 23px;
  }
  #quad2 {
    margin-left: 25px;
  }
  
  .quads34 {
    display: flex;
  }
  .square2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px;
    border-radius: 4px;
    padding: 0px;
    gap: 24px;
    width: 170px;
    height: 126px;
    margin-top: 15px;
  }
  #quad3 {
    margin-left: 23px;
  }
  #quad4 {
    margin-left: 25px;
  }
  
  .botao-vermais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    position: absolute;
    width: 366px;
    height: 56px;
    left: 24px;
    top: 830px;
    background: #FFA45D;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }