#dashboard {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-columns: auto 280px 1fr 280px;

    gap: 24px;

    padding-right: 24px;
}