body {
background-color: #FAF2E9;
}

.container {
    position: relative;
    width: 421px;
    height: 914px;
}

.btn-menu {
    color: #ffa45d;
    background-color: #FAF2E9;
    border-color: #FAF2E9;
    height: 40px;
    width: 40px;
}

h5 {
    position: absolute;
    position: absolute;
    width: 179px;
    height: 34px;
    left: 195px;
    top: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
} 

img {
    position: absolute;
    width: 366px;
    height: 175px;
    left: 27px;
    top: 125px;
}

#input-descricao {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    position: absolute;
    width: 366px;
    height: 404px;
    left: 27px;
    top: 315px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.btn-plane {
    color: #ffa45d;
    background-color: #FAF2E9;
    border-color: #FAF2E9;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 195px;
    top: 734px;
}
